.wrap {
  @apply border-l border-r;

  max-width: 445px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  height: 100vh;

  &-py {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.btn {
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  transition: 0.2s background-color linear;

  &:hover {
    background-color: #dfdfdf;
  }

  &-rounded {
    @apply rounded-full;
  }
}
