* {
  .light-theme {
    --text-color: #484f58;
    --text-color-disabled: #d4d4d4;
    --chosen-color: #000000;

    --bg-color-main: #fcfcfc;

    --bg-btn-color: #fff;
    --bg-btn-color-hover: #e3e5e8;
    --bg-btn-color-disabled: transparent;
    --bg-btn-color-disabled-hover: transparent;

    --check: #484f58;
    --bg-checkbox: #fcfcfc;

    --border-btn-color: #e3e5e8;
    --border-btn-color-hover: #dfdfdf;

    --shadow-color: #ededed;
    --shadow-color-hover: #cccccc;

    --filter-img-to-theme: invert(29%) sepia(10%) saturate(647%) hue-rotate(174deg) brightness(90%) contrast(84%);
  }

  .dark-theme {
    --text-color: #e7e8ea;
    --text-color-disabled: #8b8b8b;

    --chosen-color: #000000;

    --bg-color-main: #0f172a;

    --bg-btn-color: #1e293b;
    --bg-btn-color-hover: #1b2536;
    --bg-btn-color-disabled: #192231;
    --bg-btn-color-disabled-hover: #1e293b;

    --check: #0f172a;
    --bg-checkbox: #e7e8ea;

    --border-main: #e7e8ea;
    --border-btn-color: #0f1629;
    --border-btn-color-hover: #0f1629;

    --shadow-color: #0f1629;
    --shadow-color-hover: #0f1629;

    --filter-img-to-theme: invert(100%) sepia(7%) saturate(4838%) hue-rotate(179deg) brightness(98%) contrast(89%);
  }
}
