 .default-enter-active,
 .default-leave-active {
   transition: opacity .5s;
 }

 .default-enter,
 .default-leave-active {
   opacity: 0;
 }

 // =====

 .role-enter-active,
 .role-leave-active {
   transition: opacity .5s;
 }

 .role-enter,
 .role-leave-active {
   opacity: 0;
 }
